@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment #3 - Devon Connelly</h1>
        <p class="lead">An ASP.NET application designed to manage music playlists, allowing users to create, and organize tracks within various playlists</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>How to manage collections in entity relationships, and work with item select elements, which improved my understanding of working with the MVC approach and ASP.NET as a whole. This project also required a larger number of models, their views, and controllers, than what i've worked with in the past, and I gained experience in ensuring these components worked together properly to support the application's functionality. Through this process, I became better at handling model relationships and dealing with data updates.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>Keeping track of all the models, views, and controllers needed for each feature, especially when handling playlists and tracks. With so many different view models and actions, it was easy to lose track of how everything connected. I also struggled with ensuring that the “edit existing” method for playlists functioned correctly, by making sure all existing tracks were displayed correctly while also making sure all tracks currently in the playlist were checked off from the list of all tracks when the page loads.</p>
        </section>
    </div>
</main>